<mat-action-list>
    <button mat-list-item
            routerLink="/dashboard">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <h4 mat-line>Dashboard</h4>
    </button>
    <mat-divider></mat-divider>
</mat-action-list>
<mat-action-list>
    <h3 mat-subheader>Task lists</h3>
    <button mat-list-item
            *ngFor="let taskList of taskLists"
            routerLink="/list/{{taskList.id}}">
        <h4 mat-line>{{ taskList.title }}</h4>
        <button mat-icon-button
                [disableRipple]="true"
                (click)="$event.stopPropagation()"
                [matMenuTriggerFor]="taskListNavItemMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #taskListNavItemMenu="matMenu">
            <button mat-menu-item
                    (click)="openRenameTaskListDialog(taskList)">Rename</button>
            <button mat-menu-item
                    (click)="openDeleteTaskListDialog(taskList)">Delete</button>
        </mat-menu>
    </button>
    <button mat-list-item
            (click)="openAddTaskListDialog()">
        <mat-icon mat-list-icon>playlist_add</mat-icon>
        <h4 mat-line>Add new task list</h4>
    </button>
    <mat-divider></mat-divider>
</mat-action-list>