body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
}

@media(max-width: 599px) {
    app-root {
        top: 56px;
    }
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.full-width {
    width: 100%;
}

.padding {
    padding: 16px;
}

.spacer {
    flex: 1 1 auto;
}

.flex {
    display: flex !important;
}

mat-sidenav-content {
    background-color: #ffffff;
}

.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
}