.et-task-list-wrapper {
    padding-top: 8px;
    display: block;
}

.et-task-list-title {
    height: 48px;
    box-sizing: border-box;
    line-height: 16px;
    margin: -8px 0px 0px 0px;
    padding: 16px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 500;
}